.mainchat
  .mainchat__messageinfo
    .mainchat__messageinfo__leftbox
      .mainchat__messageinfo__leftbox__current__group
        moon
      %ul.mainchat__messageinfo__leftbox__menberlist
        menber:
        %li.mainchat__messageinfo__leftbox__menberlist__menber
          syou        
    .mainchat__messageinfo__edit__btn
      Edit
  .mainchat__messagelist
    .mainchat__messagelist__message
      .mainchat__messagelist__message__upperinfo
        %p.mainchat__messagelist__message__upperinfo__talker
          syou
        %p.mainchat__messagelist__message__upperinfo__date
          20200304
      .mainchat__messagelist__message__text
        hello
    .mainchat__messagelist__message
      .mainchat__messagelist__message__upperinfo
        %p.mainchat__messagelist__message__upperinfo__talker
          syou        
        %p.mainchat__messagelist__message__upperinfo__date
          20200304
      .mainchat__messagelist__message__text
        hello
  .mainchat__messageform
    .mainchat__messageform__newmessage
      %input.mainchat__messageform__newmessage__inputbox__content__text{:name => "message[content]", :type => "text", :placeholder => "type a message"}
      %label{class: "inputbox__image"}
        = icon('fas', 'image')
        %input.inputbox__image__file{type: "file"}
    .mainchat__messageform__submit__btn
      SEND